<app-header></app-header>
<div class="container">
  <div class="row"> 
    <div class="col-xs-12">
      <h2>Heures des derniers biberons</h2>
      <ul class="list-group">
        <app-heures-biberons [name]="name1" [dateHeureBib]="dateHeureBibTs" [quantite]="quantiteTs"></app-heures-biberons>
        <app-heures-biberons [name]="name2" [dateHeureBib]="dateHeureBibTs" [quantite]="quantiteTs"></app-heures-biberons>
        <app-heures-biberons [name]="name1" [dateHeureBib]="dateHeureBibTs" [quantite]="quantiteTs"></app-heures-biberons>
      </ul>
    </div>
  </div>
</div>