<div class="card">
    <div class="card-header">
        <h2>Ajouter un biberon</h2>
    </div>
    <div class="card-body">
        <form class="card-text">
            <div class="col-sm-12 form-group">
                <label for="name" class="form-label">Nom</label>
                <select  id="name" class="form-control">
                    <option></option>
                    <option>Oumar</option>
                    <option>Alexia</option>
                </select>
            </div>
            <div class="col-sm-12 form-group">
                <label for="date" class="form-label">Date</label>
                <input id= "date" type="date" class="form-control">
            </div>
            <div class="col-sm-12 form-group">
                <label for="heure" class="form-label">Heure</label>
                <input type="time" id="heure" class="form-control">
            </div>
            <div class="col-sm-12 form-group">
                <label for="quantite" class="form-label">Quantite</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-sm-12 panel-footer">
                <button class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>